* {
  box-sizing: border-box;
  font-family: "Rubik";
}

body {
  background-color: #F5F5F7;
}

.container {
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

input {
  padding: 12px 16px;
  background: #EEF2FF;
  border: 1px solid #E0E7FF;
  border-radius: 6px;
  outline: none;
}

.scaleHidden {
  height: 0;
  overflow: hidden;
  transform: scaleY(0);
}

.scaleActive {
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.5s ease;
}

.overlay,
.popup-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;

}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

.detail-background {
  background: url("../images/detail-background.png"), #F5F5F7;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.active-dashboard {
  color: white;
  border: none;
  background: linear-gradient(-45deg, #3366FF, #e73c7e);
  background-size: 400% 400%;
  animation: activeDashboard 10s ease infinite;
}

@keyframes activeDashboard {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(45, 43, 43, 0.668);
  border-radius: 20px;
}

@media only screen and (max-height: 900px) {
  .form-wrapper {
    height: 90vh;
    padding: 12px 16px;
    overflow-y: scroll;
  }
}